.App {
  text-align: center;
  background-color: beige;
}

.App-header {
  font-family: cursive;
  font-style: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#Link {
  color:orangered;
}
#Link:hover {
  color: white;
  background-color: orangered;
}

#edit:hover {
  background-color: green;
}

#delete:hover {
  background-color: red;
}

td, th {
  padding: 8px;
  outline: 3px solid black; 

}



th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: orangered;
  color: white;
  
}

tr:hover {
  background-color: lightgray;
}

h2 {
  color: beige;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black
}

h1 {
  background-color: orangered;
  color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  border-radius: 35px;
  width: 40%;
}

#bio {
  font-size: 20px;
}
#bioTwo {
  font-size: 15px;
}

p.small {
  line-height: 0;
}

h2.small {
  line-height: 0;
}


